<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>406626226616-n7m2nn90iirbipg144a4uhfll2k6hq1r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.406626226616-n7m2nn90iirbipg144a4uhfll2k6hq1r</string>
	<key>API_KEY</key>
	<string>AIzaSyAqQVzAUgAkATmZK3PvvITpPmC0rB6rKGg</string>
	<key>GCM_SENDER_ID</key>
	<string>406626226616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.apps4elit.flutter-generic-app</string>
	<key>PROJECT_ID</key>
	<string>flutter-generic-app</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-generic-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:406626226616:ios:4a5e98dfd116abe4fd7f4d</string>
</dict>
</plist>